[user]
    name = m0r15 (Aleksey Serenkov)
    email = m0r15@protonmail.com
[color]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    change = green
    untracked = cyan
[merge]
    conflictstyle = diff3
